.footer {
  border-top: 1px solid $gray;
  padding-top: 77px;
  padding-bottom: 60px;
  .logo {
    width: 179px;
    height: 48px;
    @media (max-width: 990px) {
      margin-bottom: 30px;
    }
    @media (max-width: 360px) {
      width: 120px;
      margin-right: 0;
      margin-bottom: 22px;
    }
  }
  @media (max-width: 540px) {
    padding-bottom: 15px;
  }
  @media (max-width: 360px) {
    padding-top: 32px;
  }
}

.box-footer {
  display: flex;
  justify-content: space-between;
  
  &-item {
    display: flex;
    justify-content: space-between;
    flex: 0 0 66.4%;
    @media (max-width: 1200px) {
      flex: 0 0 72%;
    }
    @media (max-width: 990px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-list {
    font-size: 1.12rem;
    list-style-type: none;

    &__tel {
      font-size: 1.67rem;
      margin-bottom: 2.06rem;
      @media (max-width: 360px) {
        font-size: 5rem;
      }
    }

    &__item {
      margin-bottom: 1.62rem;
      @media (max-width: 360px) {
        text-align: center;
      }
    }

    &__link {
      color: $gray;
      text-decoration: none;
    }
    @media (max-width: 540px) {
      text-align: center;
    }
    @media (max-width: 360px) {
      font-size: 2rem;
      margin-bottom: 36px;
    }
  }
  &-menu {
    .box-footer-list__item {
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
    }
    @media (max-width: 990px) {
      display: inline-flex;
    }
    @media (max-width: 360px) {
      font-size: 2rem;
      margin-bottom: 17px;
    }
  }
  &-adress {
    @media (max-width: 990px) {
      text-align: center;
    }
  }
  @media (max-width: 990px) {
    flex-direction: column;
    align-items: center;
  }
}

.box-footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  &__link {
    width: 48px;
    height: 48px;
    border: 2px solid $gray;
    border-radius: 100%;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
    opacity: 0.8;
    transition: 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  &__vk {
    background-image: url(../../../img/vk.svg);
    background-size: 23px 18px;
  }
  &__inst {
    background-image: url(../../../img/instagram.svg);
    background-size: 18px 18px;
  }
  &__fb {
    background-image: url(../../../img/facebook.svg);
    background-size: 23px 18px;
  }
  @media (max-width: 540px) {
    width: 213px;
    margin: 0 auto;
  }
}

.box-copyright {
  display: flex;
  justify-content: space-between;
  &__text {
    color: #a6a8a4;
    position: relative;
  }
  &__link {
    text-decoration: none;
    color: $gray;
    opacity: 0.6;
    transition: 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  @media (max-width: 990px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 360px) {
    font-size: 1.5rem;
    margin-top: 20px;
  }
}